.nav-bar {
  position: sticky;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: flex-start;
  background-color: LightBlue;
}

.nav-item {
  display: flex;
  align-items: center;
  width: 100px;
  margin: 1em;
  text-align: center;
  height: 1em;
  font-size: 24px;
}

.nav-fill-space {
  flex: auto;
}

@media (max-width: 1300px) {
  .nav-optional {
    display: none;
  }
}
