.nav-bar {
  position: sticky;
  display: flex;
  height: 60px;
  background-color: #24272C;
}

.nav-bar a {
  color: #ffffff;
  text-decoration: none;
}

.nav-logo {
  width: 60px;
  height: 60px;
}

.nav-links {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

.nav-search {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.nav-login {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.nav-item {
  width: 100px;
  margin: 0.5em;
  text-align: center;
  font-size: 20px;
}

@media (max-width: 1000px) {
  .nav-optional {
    display: none;
  }
}
